body{
    margin:0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg,#141e30,#243b55);
    height:100vh;
}

.container{
    display:flex;
    height:100vh;
}

/* Slider */
.slider{
    width:50%;
    overflow:hidden;
}

.slides{
    display:flex;
    animation: slide 15s infinite;
}

.slides img{
    width:100%;
    height:100vh;
    object-fit:cover;
}

@keyframes slide{
    0%{transform:translateX(0);}
    33%{transform:translateX(-100%);}
    66%{transform:translateX(-200%);}
    100%{transform:translateX(0);}
}

/* Right Panel */
.panel{
    width:50%;
    padding:50px;
    color:white;
}

input[type="file"]{
    margin:15px 0;
}

button{
    padding:12px 20px;
    border:none;
    border-radius:25px;
    background:linear-gradient(45deg,#00c6ff,#0072ff);
    color:white;
    cursor:pointer;
}

.preview img{
    width:200px;
    margin-top:20px;
    border-radius:15px;
}

.bar{
    width:100%;
    height:10px;
    background:#333;
    border-radius:10px;
    margin-top:10px;
}

.fill{
    height:100%;
    width:0%;
    background:linear-gradient(90deg,#00ffcc,#00c6ff);
    border-radius:10px;
    transition:1s;
}